/* header */
.header {
  border-bottom: 0.5px solid rgb(50, 48, 48, 0.4);
}

.navbar {
  display: block !important;
  border-bottom: 0.5px solid rgb(50, 48, 48, 0.4);
}

.navbar .navbar-brand {
  font-size: 37px !important;
  color: rgb(50, 48, 48) !important;
}

.navbar .nav-item .nav-link {
  font-size: 17px;
  font-weight: 600;
}

.navbar .nav-item .active {
  color: rgb(3, 3, 98) !important;
}

.navbar .nav-item .active:hover {
  color: rgb(21, 179, 21) !important;
}

.navbar .nav-item .nav-link:hover {
  color: rgb(21, 179, 21);
}

.navbar .nav-item .btn {
  background-color: rgb(21, 179, 21);
  margin-left: 15px;

}

.navbar .nav-item .btn:hover {
  background-color: green;
}

.navjob {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 10px 0;
  position: relative;
  position: relative;
}

.navjob .item {
  color: #62646a;
  margin-bottom: 0px !important;
  margin-top: 0 !important;
  text-decoration: none !important;
  position: relative;
}

.navjob .item:hover {
  color: #1dbf73;
  cursor: pointer;
}

.navbar .dropdown-toggle::after {
  display: none !important;
}

.navbar #dropdown-basic {
  outline: none !important;
  text-decoration: none !important;
  border: none !important;
  padding: 0 !important;
  background-color: #f8f9fa !important;
}

.navjob .item::after {
  background: #1dbf73;
  bottom: 0;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  transition: 0.6s;
  width: 0;
  z-index: 1;
}

.navjob .item:hover::after {
  width: 100%;

}

.dropbtn {

  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {

  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 40px;
}

.dropdown-content a {
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: #1dbf73;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.header #dropdown-basic {

  border-color: #7A7D85;
}

.detail-menu .item-tool .item {
  padding: 20px 10px 5px 15px;
  border: 1px solid #e4e5e7;
  border-radius: 10px;
  width: 200px;
}

.detail-menu .tools {
  border-bottom: 1px solid #efeff0;
}

/* footers */
.footer {

  padding-top: 64px !important;
  border-top: 0.5px solid rgb(50, 48, 48, 0.4);
}

.footer .rows {
  padding-bottom: 45px !important;
  border-bottom: 0.5px solid rgb(50, 48, 48, 0.4) !important;
}

.footer .nav-link.active {
  color: rgb(50, 48, 48) !important;
  font-size: 17px;
  font-weight: bolder;
}

.footer .nav-link {
  color: #74767e !important;
  font-weight: 300;
  position: relative;
}

.footer .nav-link .nav-span {
  display: block;
  color: #b5b6ba;
}

.footer .nav-link:hover {
  color: rgb(21, 179, 21) !important;
  cursor: pointer;

}

.footer .rows {
  display: flex;
  justify-content: space-between;
}

.footer-end .navbar-brand {
  font-size: 37px !important;
  color: #7A7D85 !important;
}

.footer-end .navbar-brand .fab {
  top: 36px;
  right: -6px;
  font-size: 10px;
}

.footer-end {
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}

.footer-end .item-1 {
  margin-bottom: 0px !important;

}

.footer-end .item-1 p {
  margin-top: 15px;
  margin-left: 25px;
  font-size: 13px;
  color: #b5b6ba;
}

.footer-end .item-2 a i {
  color: #7A7D85;
  font-size: 20px;
}

.footer-end .item-2 {
  justify-content: space-between;
  align-items: center;
}

.footer-end .item-2 a {
  margin-left: 20px;
}

.footer-end .item-2 .nav-link {
  font-weight: bolder;
  color: #7A7D85;
  font-size: 13px;
}

.footer-end .item-2 .nav-link:hover {
  color: #7A7D85 !important;
}

/* signUp Page */
.signup {
  padding: 20px 100px !important;
  display: flex;
  justify-content: space-between;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, .05);
  border-radius: 20px;
  box-shadow: 0 15px 16.83px 0.17px rgba(0, 0, 0, .05);
  margin: 0 auto;

}

.signup .title {
  color: #1dbf73 !important;
}

.signup .form .input {
  width: 300px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.375rem;
  transition: 0.5s;
  margin-left: 20px;
}

.signup form {
  margin-top: 20px;
}

.signup .form .radio {
  margin-left: 20px;
}

.signup .form .radio-label {
  margin-left: 10px;
}

input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
  cursor: pointer;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #1dbf73;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.signup .form input:focus {

  background-color: #fff;
  border-color: #1dbf73;
  box-shadow: none;
  color: #212529;
  outline: none;
}

.signup button {
  background: #1dbf73;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  height: 40px;
  margin: 30px 0;
  transition: all .3s ease-in-out;
  width: 100px;
  border-radius: 10px;
  align-items: right !important;
}

.signup button:hover {
  background: #fff !important;
  box-shadow: 2px 2px 4px 2px #1dbf73;
  color: #1dbf73 !important;
}



.page-signup {
  padding: 0 300px;
}

.page-signup .item-image .link {
  outline: none !important;
  text-decoration: none !important;
  color: #1dbf73;
}

/* login */
.login {
  padding: 20px 100px !important;
  display: flex;
  justify-content: space-between;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, .05);
  border-radius: 20px;
  box-shadow: 0 15px 16.83px 0.17px rgba(0, 0, 0, .05);
  margin: 0 auto;
}

.page-login .login h2 {
  color: #1dbf73;
}

.login button {
  background: #1dbf73;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  height: 40px;
  margin: 30px 0;
  transition: all .3s ease-in-out;
  width: 100px;
  border-radius: 10px;
  align-items: right !important;
}

.login button:hover {
  background: #fff !important;
  box-shadow: 2px 2px 4px 2px #1dbf73;
  color: #1dbf73 !important;
}

.login .form .input {
  width: 300px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.375rem;
  transition: 0.5s;
  margin-left: 20px;
}

.login .form input:focus {

  background-color: #fff;
  border-color: #1dbf73;
  box-shadow: none;
  color: #212529;
  outline: none;
}

.login form {
  margin-top: 20px;
}

.login .link {
  outline: none !important;
  text-decoration: none !important;
  color: #1dbf73;
}

.page-login {
  padding: 0 300px;
}

/* home-fiver */
.home-fiver .tailor-fiver {
  align-items: center;
  padding: 20px 24px;
  border-radius: 8px;
  border: 1px solid #dadbdd;
}

.home-fiver .tailor-fiver:hover {
  transition: 0.4s;
  cursor: pointer;
  color: #222325;
  text-decoration: none;
  -webkit-box-shadow: 0 1.2px 1.92251px rgba(0, 0, 0, .02), 0 2px 3.68135px rgba(0, 0, 0, .04), 0 1px 5px rgba(0, 0, 0, .05);
  box-shadow: 0 1.2px 1.92251px rgba(0, 0, 0, .02), 0 2px 3.68135px rgba(0, 0, 0, .04), 0 1px 5px rgba(0, 0, 0, .05);
}

/* body-job */
.body-job .slick-slide {

  height: 100% !important;
}

.body-job .card {
  width: 90% !important;

}

.bodys-job .slick-slide {

  height: 100% !important;
}

.bodys-job .card {
  width: 90% !important;

}

.body-job {
  border: 1px solid #dadbdd;
  border-radius: 15px;
}

.detail-job .item-pay .nav-link {
  color: #62646a !important;
  font-weight: bolder;
}

.detail-job .item-pay .solution {
  padding-left: none !important;
  list-style-type: none;
}

.detail-job .item-pay .solution p {
  font-weight: bolder;
  color: #74767e;
}

.detail-job .item-pay .solution i {
  font-weight: bolder !important;
  color: black;
  padding-right: 6px;
}

.detail-job .item-pay .item-sticky {
  position: sticky;
  top: 30px;

}

/* profile */
.profile .upload {
  font-size: 5px;
}

.profile .image-upload .form-image .upload {
  cursor: pointer !important;
  width: 100px;
  height: 100px;
  opacity: 0;
  margin-left: 0px;

}

.profile .image-upload .form-image {
  border-radius: 50% !important;
  width: 100px;
  height: 100px;

}

.profile .image-upload {
  background-color: #fff;
  padding: 0 40px;
  padding-top: 20px;
  margin-top: 50px;

}

.profile .form-image .status {
  top: -0px;
  right: -95px;
  padding: 2px 4px;
  border: 1px solid #1dbf73;
  border-radius: 12px;
  color: #1dbf73;
}

.profile .infor-upload {
  background-color: #fff;
  padding: 0 40px;
  padding-top: 20px;
  margin-top: 40px;
}


.profile .infor-upload .title i {
  color: #b5b6ba;
  cursor: pointer;
  border: none !important;
  outline: none !important;
  text-decoration: none !important;
}

.profile .infor-upload .title button {
  padding: 0px !important;
  background-color: white !important;
}

.profile .infor-upload .title i:hover {
  color: black;
  transition: 0.5s;
}

.profile .share-infor {
  background-color: #fff;
  width: 100%;
  padding: 110px 0;
}

/* modal update */
.form-update .title {
  color: #1dbf73 !important;
}

.form-update .form .input {
  width: 300px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.375rem;
  transition: 0.5s;
  margin-left: 20px;
}

.form-update form {
  margin-top: 20px;
}

.form-update .form .radio {
  margin-left: 20px;
}

.form-update .form .radio-label {
  margin-left: 10px;
}

input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
  cursor: pointer;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #1dbf73;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.form-update .form input:focus {

  background-color: #fff;
  border-color: #1dbf73;
  box-shadow: none;
  color: #212529;
  outline: none;
}

.form-update .btn-update {
  background: #1dbf73;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  height: 40px;
  margin: 30px 0;
  transition: all .3s ease-in-out;
  width: 100px;
  border-radius: 10px;
  align-items: right !important;
}

.form-update .btn-update:hover {
  background: #fff !important;
  box-shadow: 2px 2px 4px 2px #1dbf73;
  color: #1dbf73 !important;
}